<div class="container">
  <h2>Formulário de Atualização de funcionário</h2>

  <form #atualizarForm="ngForm" *ngIf="funcionario" [formGroup]="formAttFunc">
    <div class="mb-3">
      <label for="nome" class="form-label">Nome do Funcioanrio</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        formControlName="nome"
      />
    </div>

    <div class="mb-3">
      <label for="foto" class="form-label">Foto do Funcionário</label>
      <input
        type="file"
        accept=".jpeg"
        class="form-control"
        id="foto"
        formControlName="foto"
        (change)="onChange($event)"
      />
    </div>

    <div class="mb-3">
      <label for="rg" class="form-label">Rg do Funcioanrio</label>
      <input
        type="text"
        class="form-control"
        id="rg"
        formControlName="rg"
        maxlength="9"
      />
      <div id="nome" class="form-text">Coloque aqui o nome do funcionário</div>
    </div>

    <button type="submit" (click)="validacao()" class="btn btn-primary mt-3">
      Enviar
    </button>
  </form>
  <a [routerLink]="['/departamentos']" class="btn btn-secondary mt-3"
    >Voltar para a página de departamentos</a
  >
</div>
