<div class="container">
  <h2>Formulário de Atualização de funcionário</h2>
  <form #atualizarForm="ngForm" *ngIf="funcionario">
    <div class="mb-3">
      <label for="nome" class="form-label">Nome do Funcioanrio</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        aria-describedby="nome"
        [(ngModel)]="funcionario.nome"
        #funcionarioNome="ngModel"
        name="nome"
      />
      <div id="nome" class="form-text">Coloque aqui o nome do funcionário</div>
    </div>

    <div class="mb-3">
      <label for="foto" class="form-label">Foto do Funcionário</label>
      <input
        type="file"
        class="form-control"
        id="foto"
        aria-describedby="foto"
        maxlength="3"
        [(ngModel)]="funcionario.foto"
        #funcionarioFoto="ngModel"
        name="foto"
      />
      <div id="foto" class="form-text">Carregue uma foto do funcionário</div>
    </div>

    <div class="mb-3">
      <label for="rg" class="form-label">Rg do Funcioanrio</label>
      <input
        type="text"
        class="form-control"
        id="rg"
        aria-describedby="rg"
        [(ngModel)]="funcionario.rg"
        #funcionarioRg="ngModel"
        name="rg"
        maxlength="9"
      />
      <div id="nome" class="form-text">Coloque aqui o nome do funcionário</div>
    </div>

    <div [formGroup]="departaments">
      <select
        class="form-select"
        id="departamentos"
        [formControlName]="funcionario.departamentoId"
      >
        <option
          [value]="departamento.id"
          *ngFor="let departamento of departamentos"
        >
          {{ departamento.nome }}
        </option>
      </select>
    </div>

    <button type="submit" (click)="save()" class="btn btn-primary">
      Enviar
    </button>
  </form>
  <a [routerLink]="['/departamentos']" class="btn btn-secondary mt-3"
    >Voltar para a página de departamentos</a
  >
</div>
