<div class="container">
  <h2>Formulário de Cadastro de departamento</h2>
  <form #atualizarForm="ngForm" *ngIf="departamento" [formGroup]="formCadastro">
    <div class="mb-3">
      <label for="nome" class="form-label">Nome do Departamento</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        aria-describedby="nome"
        name="nome"
        formControlName="nomeDepartamento"
      />
      <div id="nome" class="form-text">
        Coloque aqui o nome do departamento desejado
      </div>
    </div>
    <span *ngIf="formCadastro.controls['nomeDepartamento'].touched">
      <span
        class="alert-danger p-1"
        *ngIf="formCadastro.controls['nomeDepartamento'].errors"
        >Campo obrigatório</span
      >
    </span>

    <div class="mb-3">
      <label for="sigla" class="form-label">Sigla do Departamento</label>
      <input
        type="text"
        class="form-control"
        id="sigla"
        aria-describedby="sigla"
        maxlength="3"
        name="sigla"
        formControlName="siglaDepartamento"
      />
      <div id="sigla" class="form-text">Digite a Sigla do departamento</div>
      <span *ngIf="formCadastro.controls['nomeDepartamento'].touched">
        <span
          class="alert-danger p-1"
          *ngIf="formCadastro.controls['nomeDepartamento'].errors"
          >Campo obrigatório</span
        >
      </span>

      <span class="my-3 alert alert-danger" *ngIf="hasError == 'sigla'">
        {{ error }}
      </span>
    </div>

    <button type="submit" (click)="validacoes()" class="btn btn-primary">
      Enviar
    </button>
  </form>

  <a [routerLink]="['/departamentos']" class="btn btn-secondary mt-3"
    >Voltar para a página de departamentos</a
  >
</div>
