<div class="container">
  <h2>Formulário de Cadastro de funcionário</h2>

  <form [formGroup]="formCadastroFunc">
    <label for="nome" class="form-label mt-3">Nome</label>
    <input type="text" class="form-control" id="nome" formControlName="nome" />

    <label for="foto" class="form-label mt-3">Foto</label>
    <input
      type="file"
      class="form-control"
      id="foto"
      formControlName="foto"
      accept=".jpeg"
      (change)="onChange($event)"
    />

    <label for="rg" class="form-label mt-3">Rg</label>
    <input
      type="text"
      class="form-control"
      id="rg"
      formControlName="rg"
      maxlength="9"
    />

    <button type="submit" (click)="validacao()" class="btn btn-primary mt-3">
      Enviar
    </button>
  </form>

  <a [routerLink]="['/departamentos']" class="btn btn-secondary mt-3"
    >Voltar para a página de departamentos</a
  >
</div>
